.slds-col {
    min-width: 100px;
    min-height: 100px;
    border: 1px solid;
    text-align: center;
}

.header {
    background: #d0e2f3;
    font-weight: bold;
    width: min-content;
}

.highlighted {
    background-color: #d9ead3;
    font-weight: bold;
}