.file-selector-large ,
.file-selector-large .slds-file-selector__dropzone,
.file-selector-large .slds-file-selector__dropzone slot {
  width: 100%;
}

.file-selector-large .slds-file-selector__dropzone slot {
  padding: 14px;
}

.file-selector-large .slds-file-selector__dropzone slot .slds-file-selector__body {
    flex-direction: column;
}