.toggle {
  position: absolute;
  right: 80%;
}

.road {
  width: 200%;

  position: absolute;

  bottom: 0;

  right: 0;

  left: 0;

  z-index: 1;

  top: 79%;

  animation: road 5s linear infinite;
}

@keyframes road {
  100% {
    transform: translateX(-1400px);
  }
}

.mycar img {
  position: absolute;

  top: 41%;

  left: 34%;

  animation: car 1s linear infinite;
}

@keyframes car {
  100% {
    transform: translateY(-1px);
  }

  50% {
    transform: translateY(2px);
  }

  0% {
    transform: translateY(-1px);
  }
}

.wheel {
  left: 50%;

  bottom: 178px;

  transform: translateX(-50%);

  position: absolute;

  z-index: 2;
}

.wheel img {
  animation: wheel 1s linear infinite;
}

@keyframes wheel {
  100% {
    transform: rotate(360deg);
  }
}

.back-wheel {
  position: relative;

  right: 129px;

  top: 129px;
}

.front-wheel {
  position: absolute;

  right: -116px;

  top: 129px;
}

/* below css are for false part */

.roadfalse {
  width: 200%;

  position: absolute;

  bottom: 0;

  right: 0;

  left: 0;

  z-index: 1;

  top: 79%;
}

.mycarfalse img {
  position: absolute;

  top: 41%;

  left: 34%;
}

.wheelfalse {
  left: 50%;

  bottom: 178px;

  transform: translateX(-50%);

  position: absolute;

  z-index: 2;
}

.back-wheelfalse {
  position: relative;

  right: 129px;

  top: 129px;
}

.front-wheelfalse {
  position: absolute;

  right: -116px;

  top: 129px;
}
